.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #45a049; 
}


.tabs button.active {
  background-color: #007bff; 
}


.vulnerabilities {
  padding-left: 20px;
}

.vulnerabilities ul {
  list-style-type: none;
  padding: 0;
}

.vulnerabilities ul li {
  margin-bottom: 10px;
  font-size: 18px;
}