/* Общий стиль таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Стиль для заголовка таблицы */
  .table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  /* Стиль для ячеек заголовка */
  .table thead th {
    padding: 12px 15px;
  }
  
  /* Стиль для строк тела таблицы */
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Стиль для ячеек тела таблицы */
  .table tbody td {
    padding: 12px 15px;
  }
  
  /* Стиль для строк с полосатым фоном */
  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  /* Стиль для строк при наведении */
  .table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Стиль для ссылок */
  .table tbody a {
    color: #009879;
    text-decoration: none;
  }
  
  .table tbody a:hover {
    text-decoration: underline;
  }